<div id="call_action_one" class="container">
	<div class="card mb-3 w-100 border-0 my-6 my-md-9">
		<div class="row">
			<div class="col-lg-7">
				<a href="../page/nuestra-empresa.html"><img src="../assets/src/images/galery-11.jpg" class="card-img col-12 col-lg-10 px-0" alt="..."></a>
				<div id="about-us" class="about-us-title position-absolute">
					<a href="../page/nuestra-empresa.html"><p class="card-title text-white h1 p-6 hvr-grow">Nuestra Empresa</p></a>
				</div>
			</div>
			<div class="col-lg-5">
				<div class="card-body px-5 py-3 py-lg-0 text-center text-lg-left">
					<p class="card-text mb-4">Otatem faceper rorestiam, corrum facea net aut volum est hari occae volorem. Itasped es aspelia de est offic tem hicit, sit mini vella sinctibus, commolor apiducit atem vollaboremod quas andipienimo to opta ducius mi, optati omnihic itatemo tenecepe rerro omnimusae. </p>
					<p class="card-text mb-4">Iquiam fuga. Et que la suntis presti sit, seceaquibus et qui andit voloribus nullia voloraeptam quo quamus eum et ut ut ut es ma consequi conseditio.</p>
					<div class="mt-3">
						<button type="button" class="btn btn-outline-primary px-4 mr-3 mt-3"><i class="qmicon-phone pr-2"></i>+(53) 548 29 35</button>
						<button type="button" class="btn btn-outline-primary px-4 mt-3"><i class="qmicon-envelope pr-2"></i>info@quimimpex.co.cu</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
