<div id="about-us" class="container">
	<div class="card mb-3 w-100 border-0 my-6 py-6">
	  <div class="row">
	    <div class="col-md-5">
	      <a href=""><img src="../assets/src/img/card-01.jpg" class="card-img" alt="..."></a>
	    </div>
	    <div class="col-md-7">
	      <div class="card-body px-5 py-2">
	        <p class="card-title h1">Quiénes somos</p>
	        <a href=""><p class="card-text h4">Nunc eu augue at nunc consectetur venenatis<i class="icofont-bubble-right pl-3"></i></p></a>
	        <p class="card-text mt-4">Iquiam fuga. Et que la suntis presti sit, seceaquibus et qui andit voloribus nullia voloraeptam quo quamus eum et ut ut ut es ma consequi conseditio.</p>
	        <div class="mt-5">
	      		<button type="button" class="btn btn-primary btn-lg px-4 mr-3"><i class="icofont-phone pr-2"></i>+(53) 548 29 35</button>
	      		<button type="button" class="btn btn-primary btn-lg px-4"><i class="icofont-envelope pr-2"></i>info@quimimpex.co.co</button>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
</div>
