<div id="blog" class="container">
	<div class="card w-100 border-0 mt-5">
		<div class="row">
			<div class="col-md-5">
				<img src="../assets/src/images/galery-01.jpg" class="card-img" alt="...">
			</div>
			<div class="col-md-7">
				<h4>
					<a href="../page/detalle-noticia.html" class="a-icon">Sed libero enim sed faucibus. Diam in arcu cursus euismod</a>
				</h4>
				<time class="d-block small mb-2"><i class="icofont-ui-calendar pr-2 text-primary"></i>6 junio 2020</time>
				<p>At in tellus integer feugiat scelerisque. Augue ut lectus arcu bibendum at varius vel pharetra vel. Vitae justo eget magna fermentum iaculis eu non diam phasellus. Vivamus at augue eget arcu dictum varius duis. Dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt. Sed libero enim sed faucibus.Diam in arcu cursus euismod. Massa tincidunt nunc pulvinar sapien. Risus at ultrices mi tempus. Ultricies mi quis hendrerit dolor magna. Aliquam vestibulum morbi blandit cursus risus at ultrices mi. Tellus at urna condimentum mattis pellentesque id.</p>
			</div>
		</div>
	</div>
	<div class="card w-100 border-0 mt-5">
		<div class="row">
			<div class="col-md-5">
				<img src="../assets/src/images/galery-02.jpg" class="card-img" alt="...">
			</div>
			<div class="col-md-7">
				<h4>
					<a href="../page/detalle-noticia.html" class="a-icon">Vitae justo eget magna fermentum iaculis eu non diam phasellus.</a>
				</h4>
				<time class="d-block small mb-2"><i class="icofont-ui-calendar pr-2 text-primary"></i>30 mayo 2020</time>
				<p>Augue ut lectus arcu bibendum at varius vel pharetra vel. Vitae justo eget magna fermentum iaculis eu non diam phasellus. Vivamus at augue eget arcu dictum varius duis. Dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt. Sed libero enim sed faucibus.Diam in arcu cursus euismod. Massa tincidunt nunc pulvinar sapien. Risus at ultrices mi tempus. Ultricies mi quis hendrerit dolor magna. Aliquam vestibulum morbi blandit cursus risus at ultrices mi. Tellus at urna condimentum mattis pellentesque id.</p>
			</div>
		</div>
	</div>
	<div class="card w-100 border-0 mt-5">
		<div class="row">
			<div class="col-md-5">
				<img src="../assets/src/images/galery-03.jpg" class="card-img" alt="...">
			</div>
			<div class="col-md-7">
				<h4>
					<a href="../page/detalle-noticia.html" class="a-icon">Augue ut lectus arcu bibendum at varius vel pharetra vel.</a>
				</h4>
				<time class="d-block small mb-2"><i class="icofont-ui-calendar pr-2 text-primary"></i>25 mayo 2020</time>
				<p>Vitae justo eget magna fermentum iaculis eu non diam phasellus. Vivamus at augue eget arcu dictum varius duis. Dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt. Sed libero enim sed faucibus.Diam in arcu cursus euismod. Massa tincidunt nunc pulvinar sapien. Risus at ultrices mi tempus. Ultricies mi quis hendrerit dolor magna. Aliquam vestibulum morbi blandit cursus risus at ultrices mi. Tellus at urna condimentum mattis pellentesque id.</p>
			</div>
		</div>
	</div>
	<div class="card w-100 border-0 mt-5">
		<div class="row">
			<div class="col-md-5">
				<img src="../assets/src/images/galery-04.jpg" class="card-img" alt="...">
			</div>
			<div class="col-md-7">
				<h4>
					<a href="../page/detalle-noticia.html" class="a-icon">Rhoncus est pellentesque elit ullamcorper dignissim cras</a>
				</h4>
				<time class="d-block small mb-2"><i class="icofont-ui-calendar pr-2 text-primary"></i>20 mayo 2020</time>
				<p>Vivamus at augue eget arcu dictum varius duis. Dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt. Sed libero enim sed faucibus.Diam in arcu cursus euismod. Massa tincidunt nunc pulvinar sapien. Risus at ultrices mi tempus. Ultricies mi quis hendrerit dolor magna. Aliquam vestibulum morbi blandit cursus risus at ultrices mi. Tellus at urna condimentum mattis pellentesque id.</p>
			</div>
		</div>
	</div>
	<div class="card w-100 border-0 mt-5">
		<div class="row">
			<div class="col-md-5">
				<img src="../assets/src/images/galery-05.jpg" class="card-img" alt="...">
			</div>
			<div class="col-md-7">
				<h4>
					<a href="../page/detalle-noticia.html" class="a-icon">Vivamus at augue eget arcu dictum varius duis.</a>
				</h4>
				<time class="d-block small mb-2"><i class="icofont-ui-calendar pr-2 text-primary"></i>16 abril 2020</time>
				<p>Dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt. Sed libero enim sed faucibus.Diam in arcu cursus euismod. Massa tincidunt nunc pulvinar sapien. Risus at ultrices mi tempus. Ultricies mi quis hendrerit dolor magna. Aliquam vestibulum morbi blandit cursus risus at ultrices mi. Tellus at urna condimentum mattis pellentesque id.</p>
			</div>
		</div>
	</div>
	<nav aria-label="Page navigation example" class="my-6">
		<ul class="pagination justify-content-center">
			<li class="page-item disabled">
				<a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
			</li>
			<li class="page-item"><a class="page-link" href="#">1</a></li>
			<li class="page-item"><a class="page-link" href="#">2</a></li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li class="page-item">
				<a class="page-link" href="#">Next</a>
			</li>
		</ul>
	</nav>
</div>

