<div id="checkin" class="container">
	<div class="col-md-8 mx-auto my-5">
		<h2 class="pb-4">Lista de productos</h2>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">
				Hidróxido de Amonio al 25%<span class="pl-3 small"><a href="../page/exportación.html">Nitrogenados</a></span>
				<a class="float-right ml-3" href="">
					<i class="icofont-ui-delete"></i>
				</a>
			</li>
			<li class="list-group-item">
				Ácido Nítico al 50%<span class="pl-3 small"><a href="../page/exportación.html">Nitrogenados</a></span>
				<a class="float-right ml-3" href="">
					<i class="icofont-ui-delete"></i>
				</a>
			</li>
			<li class="list-group-item">
				Glifoamonio (Herbicida)<span class="pl-3 small"><a href="../page/exportación.html">Químicos</a></span>
				<a class="float-right ml-3" href="">
					<i class="icofont-ui-delete"></i>
				</a>
			</li>
			<li class="list-group-item">
				Sulfato de Aluminio<span class="pl-3 small"><a href="../page/exportación.html">Químicos</a></span>
				<a class="float-right ml-3" href="">
					<i class="icofont-ui-delete"></i>
				</a>
			</li>
			<li class="list-group-item">
				Ácido Sulfúrico al 98%<span class="pl-3 small"><a href="../page/exportación.html">Químicos</a></span>
				<a class="float-right ml-3" href="">
					<i class="icofont-ui-delete"></i>
				</a>
			</li>
		</ul>
		<h4 class="pt-5 pb-3">Enviar solicitud</h4>
		<form>
			<div class="form-group">
				<label for="inputAddress">Nombre</label>
				<input type="text" class="form-control" id="inputAddress" placeholder="">
			</div>
			<div class="form-group">
				<label for="inputEmail4">Correo</label>
				<input type="email" class="form-control" id="inputEmail4">
			</div>
			<div class="form-group">
				<label for="exampleFormControlTextarea1">Comentarios</label>
				<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
			</div>
			<button type="submit" class="btn btn-primary px-4">Enviar</button>
		</form>
	</div>
</div>
