<div id="news-detail" class="container">
	<div class="col-md-8 mx-auto my-5">
		<p class="mb-5">Vivamus arcu felis bibendum ut. Magna fringilla urna porttitor rhoncus dolor purus non. Quis vel eros donec ac. Mauris nunc congue nisi vitae suscipit. Mattis ullamcorper velit sed ullamcorper. Eu feugiat pretium nibh ipsum consequat nisl vel pretium.Ullamcorper sit amet risus nullam. Eu mi bibendum neque egestas congue quisque egestas. Dignissim suspendisse in est ante in nibh. Non sodales neque sodales ut etiam sit amet. Posuere morbi leo urna molestie at elementum eu facilisis. Nunc faucibus a pellentesque sit amet.</p>
		<form>
			<div class="form-group">
				<label for="inputAddress">Nombre</label>
				<input type="text" class="form-control" id="inputAddress" placeholder="">
			</div>
			<div class="form-group">
				<label for="inputEmail4">Correo</label>
				<input type="email" class="form-control" id="inputEmail4">
			</div>
			<div class="form-group">
				<label for="exampleFormControlTextarea1">Comentarios</label>
				<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
			</div>
			<button type="submit" class="btn btn-primary px-4">Enviar</button>
		</form>
	</div>
</div>
