<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header pb-2">
		        <h3 class="modal-title" id="exampleModalCenterTitle">Tubos de ensayo y de cultivo</h3>
		        <div class="ml-auto">
			        <button type="button" class="btn btn-light rounded-circle mr-3">
			        	<i class="qmicon-car-add text-body h5 mb-0 a-icon"></i>
			        </button>
			        <button type="button" class="btn btn-light rounded-circle mr-3">
			        	<i class="qmicon-download-file text-body mb-0 a-icon"></i>
			        </button>
			        <button type="button" class="btn btn-light rounded-circle" data-dismiss="modal" aria-label="Close">
			        	<i class="qmicon-close text-body mb-0 a-icon"></i>
			        </button>
		        </div>
	      	</div>
	       	<div class="modal-body">
				<div class="card w-100 border-0">
					<div class="row no-gutters">
						<div class="col-md-5">
							<img src="../assets/src/images/vidrio-01.jpg" class="card-img" alt="...">
						</div>
						<div class="col-md-7">
							<div class="card-body py-1">
								<h6 class="font-weight-bold">Descripción del producto</h6>
								<p class="card-text">Velit egestas dui id ornare arcu odio ut sem. Nullam ac tortor vitae purus faucibus ornare suspendisse. Ac felis donec et odio pellentesque. Ullamcorper velit sed ullamcorper morbi tincidunt ornare massa. Diam vel quam elementum pulvinar etiam non quam. Aliquam purus sit amet luctus venenatis lectus. Lacus viverra vitae congue.</p>
								<h6 class="font-weight-bold border-bottom pb-2">Información de contacto</h6>
							</div>
							<div class="row px-4">
								<div class="col-6">
									<div class="d-md-flex justify-content-md-start d-flex justify-content-center">
										<span class="pr-3"><i class="qmicon-phone text-primary"></i></span>
										<p class="mb-0"><a class="a-icon" href="">+(53) 7 828 6528</a><p>
									</div>
									<div class="d-md-flex justify-content-md-start d-flex justify-content-center mb-3">
										<span class="pr-3"><i class="qmicon-phone text-primary"></i></span>
										<p class="mb-0"><a class="a-icon" href="">+(53) 7 985 2483</a><p>
									</div>
								</div>
								<div class="col-6">
									<div class="d-md-flex justify-content-md-start d-flex justify-content-center">
										<span class="pr-3"><i class="qmicon-envelope text-primary"></i></span>
										<p class="mb-0"><a class="a-icon" href="">direccion@quimimpex.cu</a><p>
									</div>
									<div class="d-md-flex justify-content-md-start d-flex justify-content-center">
										<span class="pr-3"><i class="qmicon-envelope text-primary"></i></span>
										<p class="mb-0"><a class="a-icon" href="">comercial@quimimpex.cu</a><p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
 			</div>
		</div>
	</div>
</div>
<div id="product-detail" class="container">
	<div class="card w-100 border-0 mt-5">
		<div class="row no-gutters">
			<div class="col-md-5">
				<img src="../assets/src/images/vidrio-01.jpg" class="card-img" alt="...">
			</div>
			<div class="col-md-7">
				<div class="card-body py-1">
					<div class="d-flex justify-content-between align-items-center mb-4">
						<h4 class="mb-0">Tubos de ensayo y de Cultivo</h4>
						<div>
							<button type="button" class="btn btn-secondary rounded-circle mr-3">
						    	<i class="qmicon-car-add mb-0 a-icon-blue "></i>
						    </button>
						    <button type="button" class="btn btn-secondary rounded-circle mr-3">
						       	<i class="qmicon-download-file mb-0 a-icon-blue "></i>
						    </button>
						</div>
					</div>
					<h6 class="font-weight-bold">Descripción del producto</h6>
					<p class="card-text">Velit egestas dui id ornare arcu odio ut sem. Nullam ac tortor vitae purus faucibus ornare suspendisse. Ac felis donec et odio pellentesque. Ullamcorper velit sed ullamcorper morbi tincidunt ornare massa. Diam vel quam elementum pulvinar etiam non quam. Aliquam purus sit amet luctus venenatis lectus. Lacus viverra vitae congue.</p>
				</div>
				<h6 class="font-weight-bold border-bottom pb-2">Información de contacto</h6>
				<div class="row px-4">
					<div class="col-6">
						<div class="d-md-flex justify-content-md-start d-flex justify-content-center">
							<span class="pr-3"><i class="qmicon-phone text-primary"></i></span>
							<p class="mb-0"><a class="a-icon" href="">+(53) 7 828 6528</a><p>
						</div>
						<div class="d-md-flex justify-content-md-start d-flex justify-content-center mb-3">
							<span class="pr-3"><i class="qmicon-phone text-primary"></i></span>
							<p class="mb-0"><a class="a-icon" href="">+(53) 7 985 2483</a><p>
						</div>
					</div>
					<div class="col-6">
						<div class="d-md-flex justify-content-md-start d-flex justify-content-center">
							<span class="pr-3"><i class="qmicon-envelope text-primary"></i></span>
							<p class="mb-0"><a class="a-icon" href="">direccion@quimimpex.cu</a><p>
						</div>
						<div class="d-md-flex justify-content-md-start d-flex justify-content-center">
							<span class="pr-3"><i class="qmicon-envelope text-primary"></i></span>
							<p class="mb-0"><a class="a-icon" href="">comercial@quimimpex.cu</a><p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="border-top my-5">
			<h4 class="my-5">Productos relacionados (Vidrio)</h4>
			<div class="card-columns">
				<div class="card text-center shadow-sm border-0">
					<a href="#" rel="bookmark">
						<img src="../assets/src/images/vidrio-03.jpg" class="featured-post-thumbnail card-img-top" alt="news-01">
					</a>
					<div class="card-body">
						<a class="a-icon" href=""><h5 class="card-title font-weight-superbold mt-2 mb-3">Productos de vidrio técnico para uso de laboratorios</h5></a>
						<div class="d-flex align-items-center justify-content-center h5">
							<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="qmicon-eye pr-3 a-icon"></i></a>
							<a href=""><i class="qmicon-car-add pr-3 a-icon"></i></a>
							<a href="../page/detalle-producto.html"><i class="qmicon-link a-icon"></i></a>
						</div>
					</div>
				</div>
				<div class="card text-center shadow-sm border-0">
					<a href="#" rel="bookmark">
						<img src="../assets/src/images/vidrio-02.jpg" class="featured-post-thumbnail card-img-top" alt="news-01">
					</a>
					<div class="card-body">
						<a class="a-icon" href=""><h5 class="card-title font-weight-superbold mt-2 mb-3">Nebulizador</h5></a>
						<div class="d-flex align-items-center justify-content-center h5">
							<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="qmicon-eye pr-3 a-icon"></i></a>
							<a href=""><i class="qmicon-car-add pr-3 a-icon"></i></a>
							<a href="../page/detalle-producto.html"><i class="qmicon-link a-icon"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
