<div id="news-detail" class="container">
	<div class="col-md-8 mx-auto my-5">
		<figure class="figure">
			<img src="../assets/src/images/galery-10.jpg" class="figure-img img-fluid rounded" alt="...">
			<figcaption class="figure-caption text-right">Foto: Caption for the above image.</figcaption>
		</figure>
		<time class="d-block small mb-2"><i class="icofont-ui-calendar pr-2 text-primary"></i>6 abril 2020</time>
		<p>At in tellus integer feugiat scelerisque. Augue ut lectus arcu bibendum at varius vel pharetra vel. Vitae justo eget magna fermentum iaculis eu non diam phasellus. Vivamus at augue eget arcu dictum varius duis. Dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt. Sed libero enim sed faucibus.Diam in arcu cursus euismod. Massa tincidunt nunc pulvinar sapien. Risus at ultrices mi tempus. Ultricies mi quis hendrerit dolor magna. Aliquam vestibulum morbi blandit cursus risus at ultrices mi. Tellus at urna condimentum mattis pellentesque id.</p>
		<p>Vivamus arcu felis bibendum ut. Magna fringilla urna porttitor rhoncus dolor purus non. Quis vel eros donec ac. Mauris nunc congue nisi vitae suscipit. Mattis ullamcorper velit sed ullamcorper. Eu feugiat pretium nibh ipsum consequat nisl vel pretium.Ullamcorper sit amet risus nullam. Eu mi bibendum neque egestas congue quisque egestas. Dignissim suspendisse in est ante in nibh. Non sodales neque sodales ut etiam sit amet. Posuere morbi leo urna molestie at elementum eu facilisis. Nunc faucibus a pellentesque sit amet.</p>
	</div>
	<hr>
	<div class="col-lg-10 mx-auto">
		<h4 class="py-4 text-center">Otras noticias</h4>
		<div id="latest-news" class="row">
			<div class="card-deck">
				<div class="card text-center shadow-sm border-0">
					<a href="#" rel="bookmark">
						<img src="../assets/src/images/news-01.jpg" class="featured-post-thumbnail card-img-top" alt="news-01">
					</a>
					<div class="card-body">
						<h5 class="card-title font-weight-superbold mt-2">The perfect time to visit Cuba is now</h5>
						<time class="d-block small mb-2"><i class="icofont-ui-calendar pr-2 text-primary"></i>6 abril 2020</time>
						Cursus metus aliquam eleifend mi in nulla posuere sollicitudin. Posuere lorem ipsum dolor sit amet consectetur adipiscing elit. Iaculis at erat pellentesque adipiscing commodo.
						<a href="" class="btn btn-link btn-block stretched-link">Leer más...</a>
						<span class="card-link h2 p-3 d-inline-block text-center position-absolute rounded-circle text-white bg-primary"><i class="icofont-link"></i></span>
					</div>
				</div>
				<div class="card text-center shadow-sm border-0">
					<a href="#" rel="bookmark">
						<img src="../assets/src/images/news-02.jpg" class="featured-post-thumbnail card-img-top" alt="news-01">
					</a>
					<div class="card-body">
						<h5 class="card-title font-weight-superbold mt-2">Sed libero enim sed faucibus diam in arcu cursus euismod</h5>
						<time class="d-block small mb-2"><i class="icofont-ui-calendar pr-2 text-primary"></i>29 marzo 2020</time>
						This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
						<a href="" class="btn btn-link btn-block stretched-link">Leer más...</a>
						<span class="card-link h2 p-3 d-inline-block text-center position-absolute rounded-circle text-white bg-primary"><i class="icofont-link"></i></span>
					</div>
				</div>
				<div class="card text-center shadow-sm border-0">
					<a href="#" rel="bookmark">
						<img src="../assets/src/images/news-03.jpg" class="featured-post-thumbnail card-img-top" alt="news-01">
					</a>
					<div class="card-body">
						<h5 class="card-title font-weight-superbold mt-2">Eu mi bibendum neque egestas congue quisque</h5>
						<time class="d-block small mb-2"><i class="icofont-ui-calendar pr-2 text-primary"></i>20 febrero 2020</time>
						Proin nibh nisl condimentum id venenatis a condimentum vitae sapien. Cras tincidunt lobortis feugiat vivamus at augue eget. Ultrices eros in cursus turpis massa. Libero volutpat sed cras ornare arcu dui vivamus arcu felis.
						<a href="" class="btn btn-link btn-block stretched-link">Leer más...</a>
						<span class="card-link h2 p-3 d-inline-block text-center position-absolute rounded-circle text-white bg-primary"><i class="icofont-link"></i></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
