<section id="directivos" class="py-5 container">
	<p>Amet nisl purus in mollis nunc sed id semper. Justo nec ultrices dui sapien. Aliquam etiam erat velit scelerisque in dictum. Eget sit amet tellus cras adipiscing enim eu turpis egestas. At in tellus integer feugiat scelerisque. Augue ut lectus arcu bibendum at varius vel pharetra vel. Vitae justo eget magna fermentum iaculis eu non diam phasellus. Vivamus at augue eget arcu dictum varius duis. Dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt. Sed libero enim sed faucibus.</p>
	<p>Elementum integer enim neque volutpat ac tincidunt vitae semper. Semper viverra nam libero justo laoreet sit. Vel risus commodo viverra maecenas accumsan. Sollicitudin tempor id eu nisl nunc mi ipsum faucibus vitae</p>
	<div class="row mt-6 px-3">
		<h3 class="h1 mb-5">Directivos</h3>
		<div class="card-deck">
			<div class="card text-center shadow-sm border-0">
				<a href="#" rel="bookmark">
					<img src="../assets/src/images/directivo-01.jpg" class="featured-post-thumbnail card-img-top" alt="news-01">
				</a>
				<div class="card-body">
					<h5 class="card-title font-weight-superbold mt-2">Carlos Rodríguez Pérez</h5>
					<h6 class="border-bottom pb-4 mb-4">Director General</h6>
					<a class="d-block" href=""><i class="qmicon-phone pr-2"></i>+(53) 7 864 5216</a>
					<a class="d-block" href=""><i class="qmicon-envelope pr-2"></i>direcciongeneral@quimimpex.co.cu</a>
				</div>
			</div>
			<div class="card text-center shadow-sm border-0">
				<a href="#" rel="bookmark">
					<img src="../assets/src/images/directivo-02.jpg" class="featured-post-thumbnail card-img-top" alt="news-01">
				</a>
				<div class="card-body">
					<h5 class="card-title font-weight-superbold mt-2">María Alonso Quintana</h5>
					<h6 class="border-bottom pb-4 mb-4">Directora Comercial</h6>
					<a class="d-block" href=""><i class="qmicon-phone pr-2"></i>+(53) 7 864 5218</a>
					<a class="d-block" href=""><i class="qmicon-envelope pr-2"></i>comercial@quimimpex.co.cu</a>
				</div>
			</div>
			<div class="card text-center shadow-sm border-0">
				<a href="#" rel="bookmark">
					<img src="../assets/src/images/directivo-03.jpg" class="featured-post-thumbnail card-img-top" alt="news-01">
				</a>
				<div class="card-body">
					<h5 class="card-title font-weight-superbold mt-2">Catalina Silvestre Cano</h5>
					<h6 class="border-bottom pb-4 mb-4">Relaciones Internacionales</h6>
					<a class="d-block" href=""><i class="qmicon-phone pr-2"></i>+(53) 7 864 5219</a>
					<a class="d-block" href=""><i class="qmicon-envelope pr-2"></i>internacionales@quimimpex.co.cu</a>
				</div>
			</div>
		</div>
	</div>
</section>


