<div id="news-detail" class="container">
	<div class="col-md-8 mx-auto my-5">
		<ul class="list-group list-group-flush">
			<li class="list-group-item">
				Documento Q
				<a class="float-right ml-3" href="">
					</i><i class="icofont-download"></i>
				</a>
				<a class="float-right ml-3" href="">
					<i class="icofont-eye-alt"></i>
				</a>
			</li>
			<li class="list-group-item">
				Documento No 2
				<a class="float-right ml-3" href="">
					</i><i class="icofont-download"></i>
				</a>
				<a class="float-right ml-3" href="">
					<i class="icofont-eye-alt"></i>
				</a>
			</li>
			<li class="list-group-item">
				Documento XRH
				<a class="float-right ml-3" href="">
					</i><i class="icofont-download"></i>
				</a>
				<a class="float-right ml-3" href="">
					<i class="icofont-eye-alt"></i>
				</a>
			</li>
			<li class="list-group-item">
				Documento Oficial
				<a class="float-right ml-3" href="">
					</i><i class="icofont-download"></i>
				</a>
				<a class="float-right ml-3" href="">
					<i class="icofont-eye-alt"></i>
				</a>
			</li>
			<li class="list-group-item">
				Documento Rector
				<a class="float-right ml-3" href="">
					</i><i class="icofont-download"></i>
				</a>
				<a class="float-right ml-3" href="">
					<i class="icofont-eye-alt"></i>
				</a>
			</li>
		</ul>
	</div>
</div>
