<section id="featured-companies" class="position-relative">
	<div class="card-group container">
	  	<div class="card border-0 ">
	    	<a href=""><img src="../assets/src/images/empresa-02.png" class="card-img-top py-5 " alt="..."></a>
	  	</div>
	  	<div class="card border-0">
	    	<a href=""><img src="../assets/src/images/empresa-01.png" class="card-img-top py-5" alt="..."></a>
	 	</div>
	  	<div class="card border-0">
	    	<a href=""><img src="../assets/src/images/empresa-09.png" class="card-img-top py-5" alt="..."></a>
	  	</div>
	  	<div class="card border-0">
	    	<a href=""><img src="../assets/src/images/empresa-03.png" class="card-img-top py-5" alt="..."></a>
	 	</div>
		<div class="card border-0">
		    <a href=""><img src="../assets/src/images/empresa-08.png" class="card-img-top py-5" alt="..."></a>
		</div>
		<div class="card border-0">
		    <a href=""><img src="../assets/src/images/empresa-06.png" class="card-img-top py-5" alt="..."></a>
		</div>
		<div class="card border-0">
		    <a href=""><img src="../assets/src/images/empresa-07.png" class="card-img-top py-5" alt="..."></a>
		</div>
	</div>
</section>

