<footer id="footer" class="img-bg" style="background-image: url(../assets/src/images/banner-01.jpg);">
	<div class="container">
		<div class="row pt-5">
			<div class="col-md-4 text-white pb-4 border-bottom border-footer mb-4 mb-md-0">
				<h5 class="font-weight-bold mb-4">Contacto</h5>
				<div class="d-sm-flex justify-sm-content-start d-flex justify-content-center mb-3">
					<span class="pr-3"><i class="icofont-location-pin"></i></span>
					<p class="mb-0">Calle 57 No. 4437 e/ 44 y 46. Puentes Grandes, Playa, La Habana, Cuba</p>
				</div>
				<div class="d-md-flex justify-content-md-start d-flex justify-content-center">
					<span class="pr-3"><i class="icofont-phone"></i></span>
					<p class="mb-0"><a href="">+(53) 7 828 6528</a><p>
				</div>
				<div class="d-md-flex justify-content-md-start d-flex justify-content-center mb-3">
					<span class="pr-3"><i class="icofont-phone"></i></span>
					<p class="mb-0"><a href="">+(53) 7 985 2483</a><p>
				</div>
				<div class="d-md-flex justify-content-md-start d-flex justify-content-center">
					<span class="pr-3"><i class="icofont-envelope"></i></span>
					<p class="mb-0"><a href="">direccion@quimimpex.cu</a><p>
				</div>
				<div class="d-md-flex justify-content-md-start d-flex justify-content-center">
					<span class="pr-3"><i class="icofont-envelope"></i></span>
					<p class="mb-0"><a href="">comercial@quimimpex.cu</a><p>
				</div>
			</div>
			<div class="col-md-4 text-white pb-4 border-bottom border-footer mb-4 mb-md-0">
				<h5 class="font-weight-bold mb-4">Enlaces de interés</h5>
				<ul class="list-unstyled">
					<li><a href="">MINDUS</a></li>
					<li><a href="">MINREX</a></li>
					<li><a href="">Cámara de Comercio</a></li>
					<li><a href="">Zona Especial de Desarrollo Mariel</a></li>
					<li><a href="">Cubadebate</a></li>
				</ul>
			</div>
			<div class="col-md-4 text-white">
				<h5 class="font-weight-bold h5 mb-4">Manténgase informado</h5>
				<p class="font-weight-bold mb-2">Boletín de Quimimpex</p>
				<p>Iquiam fuga. Et que la suntis presti sit, seceaquibus et qui andit voloribus nullia voloraeptam quo quamus eum et ut ut ut es ma consequi conseditio.</p>
				<form>
					<div class="form-group mb-4">
						<label for="exampleInputEmail1">Correo electrónico*</label>
						<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
					</div>
					<div class="d-flex justify-content-between">
						<button type="button" class="btn btn-primary px-4 col-4">Suscribirse</button>
						<button type="button" class="btn btn-outline-primary px-4 col-7">Cancelar suscripción</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="border-top small mt-5">
		<div class="container text-white">
			<div class="row py-2 mt-3 mt-md-0">
				<div class="col-md-6 row pl-4 d-flex justify-content-center justify-content-md-start d-flex align-items-center">
					<img src="../assets/src/images/logo-white.svg" style="width: 90px">
					<p class="mb-0 ml-1">@2020 </p>
				</div>
				<div class="col-md-6">
					<nav class="navbar navbar-light navbar-expand d-flex justify-content-center justify-content-md-end py-0">
						<ul class="navbar-nav mt-1">
							<li class="nav-item">
								<a class="nav-link pr-2" href="#"><i class="icofont-facebook"></i></a>
							</li>
							<li class="nav-item">
								<a class="nav-link pr-2" href="#"><i class="icofont-twitter"></i></a>
							</li>
							<li class="nav-item">
								<a class="nav-link pr-2" href="#"><i class="icofont-youtube"></i></a>
							</li>
							<li class="nav-item">
								<a class="nav-link pr-2" href="#"><i class="icofont-instagram"></i></a>
							</li>
							<li class="nav-item">
								<a class="nav-link pr-0" href="#"><i class="icofont-linkedin"></i></a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</footer>
