<footer id="footer" class="img-bg" style="background-image: url(../assets/src/images/banner-01.jpg);">
	<div class="container">
		<div class="row pt-5">
			<div class="col-md-3 text-white pb-5">
				<p class="font-weight-bold h5 mb-3">Company</p>
				<ul class="list-unstyled">
					<li><a href="">About us</a></li>
					<li><a href="">Work for us</a></li>
					<li><a href="">Terms and Conditions</a></li>
					<li><a href="">Privacy Policy</a></li>
				</ul>
			</div>
			<div class="col-md-3 text-white">
				<p class="font-weight-bold h5 mb-3">Need some help?</p>
				<ul class="list-unstyled">
					<li><a href="">Contact us</a></li>
					<li><a href="">FAQ</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="border-top small mt-5">
		<div class="container text-white">
			<div class="row py-2 mt-3 mt-md-0">
				<div class="col-md-6 row pl-4 d-flex justify-content-center justify-content-md-start">
					<!-- <img src="../assets/src/img/rex.svg" style="width: 90px"> -->
					<p class="mb-0 pt-2 mt-1 ml-4">@2020 quimimpex.cu</p>
				</div>
				<div class="col-md-6">
					<nav class="navbar navbar-light navbar-expand d-flex justify-content-center justify-content-md-end py-0">
						<ul class="navbar-nav mt-1">
							<li class="nav-item">
								<a class="nav-link pr-2" href="#"><i class="icofont-facebook"></i></a>
							</li>
							<li class="nav-item">
								<a class="nav-link pr-2" href="#"><i class="icofont-twitter"></i></a>
							</li>
							<li class="nav-item">
								<a class="nav-link pr-2" href="#"><i class="icofont-youtube"></i></a>
							</li>
							<li class="nav-item">
								<a class="nav-link pr-2" href="#"><i class="icofont-instagram"></i></a>
							</li>
							<li class="nav-item">
								<a class="nav-link pr-0" href="#"><i class="icofont-linkedin"></i></a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</footer>
