<section id="galery" class="position-relative mt-6">
	<div class="card-group">
	  	<div class="card border border-white">
	    	<a href="../assets/src/images/galery-01.jpg" data-fancybox="gallery"><img src="../assets/src/images/galery-01.jpg" class="card-img-top" alt="..."></a>
	  	</div>
	  	<div class="card border border-white">
	    	<a href="../assets/src/images/galery-03.jpg" data-fancybox="gallery"><img src="../assets/src/images/galery-03.jpg" class="card-img-top" alt="..."></a>
	 	</div>
	  	<div class="card border border-white">
	    	<a href="../assets/src/images/galery-04.jpg" data-fancybox="gallery"><img src="../assets/src/images/galery-04.jpg" class="card-img-top" alt="..."></a>
	  	</div>
	</div>
	<div class="card-group">
	  	<div class="card border border-white">
	    	<a href="../assets/src/images/galery-07.jpg" data-fancybox="gallery"><img src="../assets/src/images/galery-07.jpg" class="card-img-top" alt="..."></a>
	 	</div>
		<div class="card border border-white">
		    <a href="../assets/src/images/galery-06.jpg" data-fancybox="gallery"><img src="../assets/src/images/galery-06.jpg" class="card-img-top" alt="..."></a>
		</div>
		<div class="card border border-white">
		    <a href="../assets/src/images/galery-08.jpg" data-fancybox="gallery"><img src="../assets/src/images/galery-08.jpg" class="card-img-top" alt="..."></a>
		</div>
</section>
