<div id="group-card" class="pb-5">
	<div class="container text-center">
		<h2 class="font-weight-superbold">Renting a car in Cuba</h2>
	</div>
	<div class="container text-center d-flex justify-content-center mt-3">
		<div class="col-lg-8 col-md-12">
			<p>Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue.</p>
		</div>
	</div>
	<div class="container mt-4">
		<div class="card-deck">
			<div class="card shadow-sm border-0">
				<img src="../assets/src/img/card-01.jpg" class="card-img-top" alt="Havana old">
				<div class="card-body">
					<h5 class="card-title font-weight-superbold">The perfect time to visit Cuba is now</h5>
					<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					<a href=""><p class="card-text"><small>VIEW</small></p></a>
				</div>
			</div>
			<div class="card shadow-sm border-0">
				<img src="../assets/src/img/card-02.jpg" class="card-img-top" alt="Havana old">
				<div class="card-body">
					<h5 class="card-title font-weight-superbold">The perfect time to visit Cuba is now</h5>
					<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
					<a href=""><p class="card-text"><small>VIEW</small></p></a>
				</div>
			</div>
			<div class="card shadow-sm border-0">
				<img src="../assets/src/img/card-03.jpg" class="card-img-top" alt="Havana old">
				<div class="card-body">
					<h5 class="card-title font-weight-superbold">The perfect time to visit Cuba is now</h5>
					<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
					<a href=""><p class="card-text"><small>VIEW</small></p></a>
				</div>
			</div>
		</div>
		<div class="text-center my-4 pt-4">
			<button type="button" class="btn btn-outline-primary">Tell me more</button>
		</div>
	</div>
</div>
