<div id="header">
	<div class="bg-secondary">
		<nav class="navbar navbar-dark navbar-expand container py-0">
			<ul class="navbar-nav mr-auto small">
				<li class="nav-item pr-3">
					<a class="nav-link pl-0" href=""><i class="icofont-speech-comments pr-2"></i>Chat</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href=""><i class="icofont-envelope pr-2"></i>Web-mail</a>
				</li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control form-control-sm bg-transparent border-qm-blue-light mr-sm-1" type="search" placeholder="Buscar" aria-label="Buscar">
				<button class="btn btn-qm-blue-light btn-sm " type="submit"><i class="icofont-ui-search hvr-grow"></i></button>
			</form>
			<form class="form-inline ml-5">
				<select class="custom-select custom-select-sm mr-2 border-0 js-boxes small" id="idioma-0">
				    <option>ES</option>
				    <option>EN</option>
				</select>
			</form>
			<ul class="navbar-nav offset-1 responsive-header">
				<li class="nav-item">
					<a class="nav-link pr-2" href="#"><i class="icofont-facebook"></i></a>
				</li>
				<li class="nav-item">
					<a class="nav-link pr-2" href="#"><i class="icofont-twitter"></i></a>
				</li>
				<li class="nav-item">
					<a class="nav-link pr-2" href="#"><i class="icofont-youtube"></i></a>
				</li>
				<li class="nav-item">
					<a class="nav-link pr-2" href="#"><i class="icofont-instagram"></i></a>
				</li>
				<li class="nav-item">
					<a class="nav-link pr-0" href="#"><i class="icofont-linkedin"></i></a>
				</li>
			</ul>
			<form class="form-inline my-2 ml-5 pl-5 my-lg-0 pr-3">
				<button class="btn btn-qm-blue-light btn-sm" type="submit">0<i class="icofont-shopping-cart hvr-grow pl-2"></i></button>
			</form>
		</nav>
	</div>
</div>

<!-- js -->
<script src="../assets/dist/js/app-header.min.js"></script>
