<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header pb-2">
		        <h3 class="modal-title" id="exampleModalCenterTitle">Tubos de ensayo y de cultivo</h3>
		        <div class="ml-auto">
			        <button type="button" class="btn btn-light rounded-circle mr-3">
			        	<i class="icofont-shopping-cart text-body h5 mb-0 a-icon"></i>
			        </button>
			        <button type="button" class="btn btn-light rounded-circle mr-3">
			        	<i class="icofont-papers text-body h5 mb-0 a-icon"></i>
			        </button>
			        <button type="button" class="btn btn-light rounded-circle" data-dismiss="modal" aria-label="Close">
			        	<i class="icofont-close text-body h5 mb-0 a-icon"></i>
			        </button>
		        </div>
	      	</div>
	       	<div class="modal-body">
				<div class="card w-100 border-0">
					<div class="row no-gutters">
						<div class="col-md-5">
							<img src="../assets/src/images/vidrio.jpg" class="card-img" alt="...">
						</div>
						<div class="col-md-7">
							<div class="card-body py-1">
								<h6 class="font-weight-bold">Descripción del producto</h6>
								<p class="card-text">Velit egestas dui id ornare arcu odio ut sem. Nullam ac tortor vitae purus faucibus ornare suspendisse. Ac felis donec et odio pellentesque. Ullamcorper velit sed ullamcorper morbi tincidunt ornare massa. Diam vel quam elementum pulvinar etiam non quam. Aliquam purus sit amet luctus venenatis lectus. Lacus viverra vitae congue.</p>
								<h6 class="font-weight-bold border-bottom pb-2">Información de contacto</h6>
							</div>
							<div class="row px-4">
								<div class="col-6">
									<div class="d-md-flex justify-content-md-start d-flex justify-content-center">
										<span class="pr-3"><i class="icofont-phone text-primary"></i></span>
										<p class="mb-0"><a class="a-icon" href="">+(53) 7 828 6528</a><p>
									</div>
									<div class="d-md-flex justify-content-md-start d-flex justify-content-center mb-3">
										<span class="pr-3"><i class="icofont-phone text-primary"></i></span>
										<p class="mb-0"><a class="a-icon" href="">+(53) 7 985 2483</a><p>
									</div>
								</div>
								<div class="col-6">
									<div class="d-md-flex justify-content-md-start d-flex justify-content-center">
										<span class="pr-3"><i class="icofont-envelope text-primary"></i></span>
										<p class="mb-0"><a class="a-icon" href="">direccion@quimimpex.cu</a><p>
									</div>
									<div class="d-md-flex justify-content-md-start d-flex justify-content-center">
										<span class="pr-3"><i class="icofont-envelope text-primary"></i></span>
										<p class="mb-0"><a class="a-icon" href="">comercial@quimimpex.cu</a><p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
 			</div>
		</div>
	</div>
</div>
<section id="export-services" class="py-5 container">
	<p>Amet nisl purus in mollis nunc sed id semper. Justo nec ultrices dui sapien. Aliquam etiam erat velit scelerisque in dictum. Eget sit amet tellus cras adipiscing enim eu turpis egestas. At in tellus integer feugiat scelerisque. Augue ut lectus arcu bibendum at varius vel pharetra vel. Vitae justo eget magna fermentum iaculis eu non diam phasellus. Vivamus at augue eget arcu dictum varius duis. Dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt. Sed libero enim sed faucibus.</p>
	<p>Otatem faceper rorestiam, corrum facea net aut volum est hari occae volorem. Itasped es aspelia de est offic tem hicit, sit mini vella sinctibus, commolor apiducit atem vollaboremod quas andipienimo to opta ducius mi, optati omnihic itatemo tenecepe rerro omnimusae. Ossit quodis pore doluptat utemporios de pe conecep elestore prae non porrora as nias ma veliqui alitatia sundes conet occuscipidem quistio nserfer iberibus el magni.</p>
	<div class="row mt-6">
		<h3 class="h1 mb-5 mx-auto">Líneas de Exportación</h3>
		<div class="card-columns mt-8">
			<div class="card text-center">
				<div class="bg-white rounded-circle mx-auto d-flex align-items-center justify-content-center cicle-one">
					<i class="icofont-atom display-2 bg-white border d-flex align-items-center justify-content-center cicle-two text-primary"></i>
				</div>
				<div class="card-body px-0">
					<h3 class="card-title font-weight-superbold mt-2">Nitrogenados</h3>
					<p class="px-3">Net volorum nitatur aut fugitassi blanda invelen ihillique si occus aperitat quibuscium quossitas nis sincipsandi ducimporem quo doluptasita et etur sit quo id magnatiat.</p>
					<p class="h5 bg-light text-left py-3 px-3 mt-5">Lista de productos</p>
					<ul class="list-group list-group-flush">
						<li class="list-group-item d-flex justify-content-between">
							<a class="text-left" href="">Hidróxido de Amonio al 25%</a>
							<div class="d-flex align-items-center justify-content-between ml-4">
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-eye-alt pr-3 a-icon"></i></a>
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-shopping-cart pr-3 a-icon"></i></a>
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-link a-icon"></i></a>
							</div>
						</li>
						<li class="list-group-item d-flex justify-content-between">
							<a class="text-left" href="">Ácido Nítico al 50%</a>
							<div class="d-flex align-items-center justify-content-between ml-4">
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-eye-alt pr-3 a-icon"></i></a>
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-shopping-cart pr-3 a-icon"></i></a>
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-link a-icon"></i></a>
							</div>
						</li>
						<li class="list-group-item d-flex justify-content-between">
							<a class="text-left" href="">25% (nitrato de amonio + zeolita)</a>
							<div class="d-flex align-items-center justify-content-between ml-4">
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-eye-alt pr-3 a-icon"></i></a>
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-shopping-cart pr-3 a-icon"></i></a>
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-link a-icon"></i></a>
							</div>
						</li>
						<li class="list-group-item d-flex justify-content-between">
							<a class="text-left" href="">Zeonitro</a>
							<div class="d-flex align-items-center justify-content-between ml-4">
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-eye-alt pr-3 a-icon"></i></a>
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-shopping-cart pr-3 a-icon"></i></a>
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-link a-icon"></i></a>
							</div>
						</li>
						<li class="list-group-item d-flex justify-content-between">
							<a class="text-left" href="">Nitrato de Amonio de Alta Densidad</a>
							<div class="d-flex align-items-center justify-content-between ml-4">
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-eye-alt pr-3 a-icon"></i></a>
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-shopping-cart pr-3 a-icon"></i></a>
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-link a-icon"></i></a>
							</div>
						</li>
						<li class="list-group-item d-flex justify-content-between">
							<a class="text-left" href="">Nitrato de Amonio de Grado Fertilizante</a>
							<div class="d-flex align-items-center justify-content-between ml-4">
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-eye-alt pr-3 a-icon"></i></a>
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-shopping-cart pr-3 a-icon"></i></a>
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-link a-icon"></i></a>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="card text-center">
				<div class="bg-white rounded-circle mx-auto d-flex align-items-center justify-content-center cicle-one">
					<i class="icofont-test-tube-alt display-2 bg-white border d-flex align-items-center justify-content-center cicle-two text-primary"></i>
				</div>
				<div class="card-body px-0">
					<h3 class="card-title font-weight-superbold mt-2">Químicos</h3>
					<p class="px-3">Vitae elementum curabitur vitae nunc sed velit. Volutpat sed cras ornare arcu dui vivamus. Sem viverra aliquet eget sit amet tellus.</p>
					<p class="h5 bg-light text-left py-3 px-3 mt-5">Lista de productos</p>
					<ul class="list-group list-group-flush">
						<li class="list-group-item d-flex justify-content-between">
							<a class="text-left" href="">Glifoamonio (Herbicida)</a>
							<div class="d-flex align-items-center justify-content-between ml-4">
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-eye-alt pr-3 a-icon"></i></a>
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-shopping-cart pr-3 a-icon"></i></a>
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-link a-icon"></i></a>
							</div>
						</li>
						<li class="list-group-item d-flex justify-content-between">
							<a class="text-left" href="">Sulfato de Aluminio</a>
							<div class="d-flex align-items-center justify-content-between ml-4">
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-eye-alt pr-3 a-icon"></i></a>
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-shopping-cart pr-3 a-icon"></i></a>
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-link a-icon"></i></a>
							</div>
						</li>
						<li class="list-group-item d-flex justify-content-between">
							<a class="text-left" href="">Ácido Sulfúrico al 98%</a>
							<div class="d-flex align-items-center justify-content-between ml-4">
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-eye-alt pr-3 a-icon"></i></a>
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-shopping-cart pr-3 a-icon"></i></a>
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-link a-icon"></i></a>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="card text-center">
				<div class="bg-white rounded-circle mx-auto d-flex align-items-center justify-content-center cicle-one">
					<i class="icofont-test-bulb display-2 bg-white border d-flex align-items-center justify-content-center cicle-two text-primary"></i>
				</div>
				<div class="card-body px-0">
					<h3 class="card-title font-weight-superbold mt-2">Vidrios</h3>
					<p class="px-3">Net volorum nitatur aut fugitassi blanda invelen ihillique si occus aperitat quibuscium quossitas nis sincipsandi ducimporem quo doluptasita et etur sit quo id magnatiat qui corrum.</p>
					<p class="h5 bg-light text-left py-3 px-3 mt-5">Lista de productos</p>
					<ul class="list-group list-group-flush">
						<li class="list-group-item d-flex justify-content-between">
							<a class="text-left" href="">Tubos de ensayo y cultivo</a>
							<div class="d-flex align-items-center justify-content-between ml-4">
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-eye-alt pr-3 a-icon"></i></a>
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-shopping-cart pr-3 a-icon"></i></a>
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-link a-icon"></i></a>
							</div>
						</li>
						<li class="list-group-item d-flex justify-content-between">
							<a class="text-left" href="">Nebulizador</a>
							<div class="d-flex align-items-center justify-content-between ml-4">
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-eye-alt pr-3 a-icon"></i></a>
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-shopping-cart pr-3 a-icon"></i></a>
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-link a-icon"></i></a>
							</div>
						</li>
						<li class="list-group-item d-flex justify-content-between">
							<a class="text-left" href="">Productos de vidrio técnico para uso de laboratorios</a>
							<div class="d-flex align-items-center justify-content-between ml-4">
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-eye-alt pr-3 a-icon"></i></a>
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-shopping-cart pr-3 a-icon"></i></a>
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-link a-icon"></i></a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="card-columns mt-8">
			<div class="card text-center">
				<div class="bg-white rounded-circle mx-auto d-flex align-items-center justify-content-center cicle-one">
					<i class="icofont-fire-burn display-2 bg-white border d-flex align-items-center justify-content-center cicle-two text-primary"></i>
				</div>
				<div class="card-body px-0">
					<h3 class="card-title font-weight-superbold mt-2">Gases Industriales</h3>
					<p class="px-3">Net volorum nitatur aut fugitassi blanda invelen ihillique si occus aperitat quibuscium quossitas nis sincipsandi ducimporem quo doluptasita et etur sit quo id magnatiat.</p>
					<p class="h5 bg-light text-left py-3 px-3 mt-5">Lista de productos</p>
					<ul class="list-group list-group-flush">
						<li class="list-group-item d-flex justify-content-between">
							<a class="text-left" href="">Mezclas de gases</a>
							<div class="d-flex align-items-center justify-content-between ml-4">
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-eye-alt pr-3 a-icon"></i></a>
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-shopping-cart pr-3 a-icon"></i></a>
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-link a-icon"></i></a>
							</div>
						</li>
						<li class="list-group-item d-flex justify-content-between">
							<a class="text-left" href="">Dióxido de Carbono</a>
							<div class="d-flex align-items-center justify-content-between ml-4">
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-eye-alt pr-3 a-icon"></i></a>
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-shopping-cart pr-3 a-icon"></i></a>
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-link a-icon"></i></a>
							</div>
						</li>
						<li class="list-group-item d-flex justify-content-between">
							<a class="text-left" href="">Árgon líquido</a>
							<div class="d-flex align-items-center justify-content-between ml-4">
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-eye-alt pr-3 a-icon"></i></a>
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-shopping-cart pr-3 a-icon"></i></a>
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-link a-icon"></i></a>
							</div>
						</li>
						<li class="list-group-item d-flex justify-content-between">
							<a class="text-left" href="">Nitrógeno</a>
							<div class="d-flex align-items-center justify-content-between ml-4">
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-eye-alt pr-3 a-icon"></i></a>
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-shopping-cart pr-3 a-icon"></i></a>
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-link a-icon"></i></a>
							</div>
						</li>
						<li class="list-group-item d-flex justify-content-between">
							<a class="text-left" href="">Oxígeno</a>
							<div class="d-flex align-items-center justify-content-between ml-4">
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-eye-alt pr-3 a-icon"></i></a>
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-shopping-cart pr-3 a-icon"></i></a>
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-link a-icon"></i></a>
							</div>
						</li>
						<li class="list-group-item d-flex justify-content-between">
							<a class="text-left" href="">Óxido Nitroso</a>
							<div class="d-flex align-items-center justify-content-between ml-4">
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-eye-alt pr-3 a-icon"></i></a>
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-shopping-cart pr-3 a-icon"></i></a>
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-link a-icon"></i></a>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="card text-center">
				<div class="bg-white rounded-circle mx-auto d-flex align-items-center justify-content-center cicle-one">
					<i class="icofont-life-bouy display-2 bg-white border d-flex align-items-center justify-content-center cicle-two text-primary"></i>
				</div>
				<div class="card-body px-0">
					<h3 class="card-title font-weight-superbold mt-2">Goma</h3>
					<p class="px-3">Vitae elementum curabitur vitae nunc sed velit. Volutpat sed cras ornare arcu dui vivamus. Sem viverra aliquet eget sit amet tellus.</p>
					<p class="h5 bg-light text-left py-3 px-3 mt-5">Lista de productos</p>
					<ul class="list-group list-group-flush">
						<li class="list-group-item d-flex justify-content-between">
							<a class="text-left" href="">Revestimientos de rodillos</a>
							<div class="d-flex align-items-center justify-content-between ml-4">
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-eye-alt pr-3 a-icon"></i></a>
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-shopping-cart pr-3 a-icon"></i></a>
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-link a-icon"></i></a>
							</div>
						</li>
						<li class="list-group-item d-flex justify-content-between">
							<a class="text-left" href="">Recape de meumáticos</a>
							<div class="d-flex align-items-center justify-content-between ml-4">
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-eye-alt pr-3 a-icon"></i></a>
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-shopping-cart pr-3 a-icon"></i></a>
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-link a-icon"></i></a>
							</div>
						</li>
						<li class="list-group-item d-flex justify-content-between">
							<a class="text-left" href="">Artículos de goma</a>
							<div class="d-flex align-items-center justify-content-between ml-4">
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-eye-alt pr-3 a-icon"></i></a>
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-shopping-cart pr-3 a-icon"></i></a>
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-link a-icon"></i></a>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="card text-center">
				<div class="bg-white rounded-circle mx-auto d-flex align-items-center justify-content-center cicle-one">
					<i class="icofont-paper display-2 bg-white border d-flex align-items-center justify-content-center cicle-two text-primary"></i>
				</div>
				<div class="card-body px-0">
					<h3 class="card-title font-weight-superbold mt-2">Papel</h3>
					<p class="px-3">Net volorum nitatur aut fugitassi blanda invelen ihillique si occus aperitat quibuscium quossitas nis sincipsandi ducimporem quo doluptasita et etur sit quo id magnatiat qui corrum.</p>
					<p class="h5 bg-light text-left py-3 px-3 mt-5">Lista de productos</p>
					<ul class="list-group list-group-flush">
						<li class="list-group-item d-flex justify-content-between">
							<a class="text-left" href="">Cartulina 230-300 g/m<sup>2</sup></a>
							<div class="d-flex align-items-center justify-content-between ml-4">
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-eye-alt pr-3 a-icon"></i></a>
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-shopping-cart pr-3 a-icon"></i></a>
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-link a-icon"></i></a>
							</div>
						</li>
						<li class="list-group-item d-flex justify-content-between">
							<a class="text-left" href="">Cores de 76.2 ML</a>
							<div class="d-flex align-items-center justify-content-between ml-4">
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-eye-alt pr-3 a-icon"></i></a>
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-shopping-cart pr-3 a-icon"></i></a>
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-link a-icon"></i></a>
							</div>
						</li>
						<li class="list-group-item d-flex justify-content-between">
							<a class="text-left" href="">Liner 175-200 g/m<sup>2</sup></a>
							<div class="d-flex align-items-center justify-content-between ml-4">
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-eye-alt pr-3 a-icon"></i></a>
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-shopping-cart pr-3 a-icon"></i></a>
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-link a-icon"></i></a>
							</div>
						</li>
						<li class="list-group-item d-flex justify-content-between">
							<a class="text-left" href="">Papel Kraft 65 g/m<sup>2</sup></a>
							<div class="d-flex align-items-center justify-content-between ml-4">
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-eye-alt pr-3 a-icon"></i></a>
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-shopping-cart pr-3 a-icon"></i></a>
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-link a-icon"></i></a>
							</div>
						</li>
						<li class="list-group-item d-flex justify-content-between">
							<a class="text-left" href="">Cajas de cartón corrugado y sacos de papel</a>
							<div class="d-flex align-items-center justify-content-between ml-4">
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-eye-alt pr-3 a-icon"></i></a>
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-shopping-cart pr-3 a-icon"></i></a>
								<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icofont-link a-icon"></i></a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>


