<nav id="top-menu" class="navbar navbar-expand-lg bg-white container pb-0 pt-1 position-relative">
	<a id="logo" class="navbar-brand logo-black" href="../pex/"></a>
	<button class="navbar-toggler hamburger collapsed border-0 bg-light" type="button" data-toggle="collapse" data-target="#navigation-menu" aria-controls="navigation-menu"  aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-icon icofont icofont-navigation-menu"></span>
	</button>
	<div class="collapse navbar-collapse" id="navigation-menu">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item active mr-2 ml-4 py-4">
				<a class="nav-link" href="../page/">Inicio</a>
			</li>
			<li class="nav-item mr-2 ml-4 py-4">
				<a class="nav-link" href="../page/nuestra-empresa.html">Nuestra empresa</a>
			</li>
			<li class="nav-item mr-2 ml-4 py-4">
				<a class="nav-link" href="../page/servicios.html">Servicios</a>
			</li>
			<li class="nav-item mr-2 ml-4 py-4">
				<a class="nav-link" href="../page/documentos.html">Documentos</a>
			</li>
			<li class="nav-item mr-2 py-4">
				<a class="nav-link" href="../page/contacto.html">Contacto</a>
			</li>
		</ul>
	</div>
</nav>
