<div id="news" class="py-5 container">
	<div class="text-center">
		<h2 class="font-weight-superbold">Últimas noticias</h2>
	</div>
	<div class="mt-5 col-8 offset-2">
		<div class="card-deck">
			<div class="card shadow-sm border-0">
				<img src="../assets/src/images/news-01.jpg" class="card-img-top" alt="Havana old">
				<div class="card-body">
					<h5 class="card-title font-weight-superbold">The perfect time to visit Cuba is now</h5>
					<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					<a href=""><p class="card-text"><small>VIEW</small></p></a>
				</div>
			</div>
			<div class="card shadow-sm border-0">
				<img src="../assets/src/images/news-02.jpg" class="card-img-top" alt="Havana old">
				<div class="card-body">
					<h5 class="card-title font-weight-superbold">The perfect time to visit Cuba is now</h5>
					<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
					<a href=""><p class="card-text"><small>VIEW</small></p></a>
				</div>
			</div>
			<div class="card shadow-sm border-0">
				<img src="../assets/src/images/news-03.jpg" class="card-img-top" alt="Havana old">
				<div class="card-body">
					<h5 class="card-title font-weight-superbold">The perfect time to visit Cuba is now</h5>
					<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
					<a href=""><p class="card-text"><small>VIEW</small></p></a>
				</div>
			</div>
		</div>
	</div>
</div>


