<div id="services" class="img-bg pt-5" style="background-image: url(../assets/src/img/banner-10.jpg)";>
	<div class="container">
		<div class="text-center mt-5">
			<p class="h1">Opiniones de nuestros clientes</p>
		</div>
		<div class="text-center d-flex justify-content-center mt-3">
			<div class="col-lg-8 col-md-12">
				<p>Sed posuere consectetur est at lobortis. Porta ac consectetur ac, vestibulum at eros. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
			</div>
		</div>
		<div class="card-deck pb-9 pt-5">
			<div class="card">
				<div class="card-body">
					<p class="card-text font-italic py-4">
						Iquiam fuga. Et que la suntis presti sit, seceaquibus et qui andit voloribus nullia voloraeptam quo quamus eum et ut ut ut es ma consequi conseditio. Ad ut elitas et et alibus autem dolore nis adit unt alit quiam, quiassi tinctia cuptatectus adit a illacernate eium, solorpo reptatinite elist provid quidunt inctur, arciissitat eos pratentota nobitibea quidesequam idem et, officiam autaqui consecere voluptature num quiatis ent.
					</p>
				</div>
				<div class="card-footer d-flex justify-content-between py-5">
					<div class="d-flex justify-content-start align-items-center">
						<img src="../assets/src/img/avatar-01.jpg" style="width: 70px; border-radius: 3rem !important;"  class="rounded" alt="...">
						<div class="pl-4">
							<p class="font-weight-bold mb-0">Carlos Calatraba Fuentes</p>
							<small>Director de la Industria Química</small>
						</div>
					</div>
					<div>
						<i class="icofont-quote-right text-primary display-3"></i>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<p class="card-text font-italic py-4">
						Otatem faceper rorestiam, corrum facea net aut volum est hari occae volorem. Itasped es aspelia de est offic tem hicit, sit mini vella sinctibus, commolor apiducit atem vollaboremod quas andipienimo to opta ducius mi, optati omnihic itatemo tenecepe rerro omnimusae. Ossit quodis pore doluptat utemporios de pe conecep elestore prae non porrora as nias ma veliqui alitatia sundes conet occuscipidem quistio nserfer iberibus el magni net volorum nitatur aut fugitassi
					</p>
				</div>
				<div class="card-footer d-flex justify-content-between py-5">
					<div class="d-flex justify-content-start align-items-center">
						<img src="../assets/src/img/avatar-02.jpg" style="width: 70px; border-radius: 3rem !important;"  class="rounded" alt="...">
						<div class="pl-4">
							<p class="font-weight-bold mb-0">Alina Fernández Díaz</p>
							<small>Especialista comercial</small>
						</div>
					</div>
					<div>
						<i class="icofont-quote-right text-primary display-3"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
